# Logs
logs
*.log
npm-debug.log*
fio-debug.log*
fio-error.log*
pnpm-debug.log*
lerna-debug.log*

# Node.js dependencies
node_modules
distance
dist-ssr
*.local

# Ignore sensitive configuration files
.env
.env.local
.env.development
.env.test
.env.production

# Cache and build files
.cache
.next
out
coverage
.tmp

# Editor directories and files
.vscode/
!.vscode/extensions.json
.idea/
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Docker
docker-compose.override.yml
.dockerignore

# PostgreSQL logs (if you are running locally)
postgres_data/
pgdata/